header {
    background: url('./img/castelmezzano-1979546\ 1.png');
    background-position: top center;
    background-repeat: no-repeat;
    color: #ffffff;
    background-size: cover;
    margin: 0 auto;
    .header_full {
        max-width: 1440px;
        .wrapper_desktop {
            width: 100%;
            .flex_grid {
                padding-top: 50px;
                list-style-type: none;
                display: flex;
                align-items: center;
                padding-top: 50px;
                list-style-type: none;
                font-size: 24px;
                justify-content: flex-end;
                // .nav_text a:hover {
                //     border-bottom: 4px solid #F5BD41;
                //     width: 50px;
                // }
        }
        .header_h2 {
            h2 {
                font-weight: 500;
                color: white;
                margin-top: 202px;
                padding-bottom: 145px;
                font-size: 50px;
                margin-left: 12px;
            }
        }
    }
}
}