@media (max-width: 800px) {
    .nav_text a {
        display: none;
    }
    .col_nav a img::after {
        background-image: url('./img/menu_mob.png');
    }
}
@media (max-width: 1000px) {
    .hostel:nth-child(3),
    .hostel:nth-child(4) {
        display: none;
}
}