* {
   margin: 0px;
   padding: 0px;
   box-sizing: border-box;
}
body {
   /* max-width: 1440px; */
   margin: 0 auto;
   display: block;
   font-family: 'Roboto', sans-serif;
   color: #383838;
}
h2 {
   font-weight: 500;
   font-size: 40px;
   padding-top: 120px;
   text-align: center;
}
@media (max-width: 800px) {
   h2 {
      padding-top: 40px;
      font-size: 28px;
   }
}
/* header */
header {
   background: url('./img/castelmezzano-1979546\ 1.png');
   background-position: top center;
   background-repeat: no-repeat;
   color: #ffffff;
   background-size: cover;
}
.header__top {
   margin: 12px;
   list-style-type: none;
   display: flex;
   align-items: center;
   padding-top: 50px;
   list-style-type: none;
   font-size: 24px;
   justify-content: space-between;
}

.header__title h1{
   font-weight: 500;
   color: white;
   font-size: 50px;
   margin-top: 202px;
   padding-bottom: 145px;
   margin-left: 12px;
}

.wrapper__header {
   margin: 0 auto;
   max-width: 1223px;
}
.logo img {
   width: 100%;
}
a {
   text-decoration: none;
}
.nav__menu {
   display: flex;
   align-items: center;
}
.nav_text {
   margin-right: 24px;
}
.nav_text a {
   color: white;
}
.nav_text a:hover {
   border-bottom: 4px solid #F5BD41;
   width: 50px;
   padding-bottom: 12px;
}
.col_nav {
   display: flex;
   align-items: center;
}
.nav_night img {
   margin-right: 24px;
}

@media (max-width: 800px) {
   .nav_text a {
   display: none;
   }
}

@media (max-width: 800px) {
   .hostel:nth-child(3),
   .hostel:nth-child(4) {
   display: none;
   }
}




/* main *//* main *//* main *//* main *//* main *//* main *//* main *//* main *//* main *//* main *//* main */
.main_full .content {
   max-width: 1223px;
   height: 100%;
   justify-content: center;
}

.content .content__items {
   display: flex;
}

.content h2::after {
   content: '';
   position: relative;
   width: 100px;
   height: 4px;
   margin: 0px auto;
   top: 20px;
   left: 0;
   right: 0;
   background: #f5bd41;
}

.content__item img {
   display: flex;
   margin: 0px auto;
   margin-bottom: 50px;
   margin-top: 20px;
   justify-content: space-between;
}

.content__item .support:nth-child(1):hover {
   background-image: url('./svg/support.svg');
}

.content__item p {
   font-size: 24px;
   margin-bottom: 122px;
   justify-content: space-between;
}

.content__item {
   margin-top: 87px;
   display: flex;
   justify-content: space-between;
}

.apps {
   margin: 12px;
}
.download {
   justify-content: center;
   display: flex;
   padding-bottom: 120px;
}
.download img {
   margin: 10px;
}

/* container__form *//* container__form *//* container__form *//* container__form *//* container__form *//* container__form */
.container__form {
   margin: 12px;
}
.container--form {
   height: 64px;
   background: #ffffff;
   border: 3px solid #f3f3f4;
   border-radius: 8px;
   margin-bottom: 120px;
}

.row--form {
   display: flex;
   position: relative;
}

input {
   border: none;
   border-radius: 8px;
   padding-left: 24px;
   font-size: 18px;
}

.input--place--wrap {
   position: relative;
   width: 36%;
}

.col--place {
   width: 100%;
}

label {
   position: absolute;
   pointer-events: none;
   color: #383838;
   font-size: 18px;
   transition: 0.2s ease all;
}

input:focus~.label--place,
input:not(:focus):valid~.label--place {
   top: -48px;
   left: 24px;
   color: #ffffff;
   opacity: 1;
}

.label--place {
   left: 24px;
   top: 20px;
}

.input--date--wrap {
   display: flex;
   width: 22%;
   border: 3px solid #f5bd41;
   border-radius: 8px;
   margin-top: -3px;
}

.label--date--wrap-first {
   width: 50%;
   position: relative;
}

.label--date--wrap-second {
   width: 50%;
   position: relative;
}

.col--date {
   width: 100%;
}

input:focus~.label--date--first,
input:not(:focus):valid~.label--date--first {
   top: -48px;
   left: 24px;
   color: #ffffff;
   opacity: 1;
}

.label--date--first {
   left: 24px;
   top: 20px;
}

input:focus~.label--date--second,
input:not(:focus):valid~.label--date--second {
   top: -48px;
   left: 24px;
   color: #ffffff;
   opacity: 1;
}

.label--date--second {
   left: 24px;
   top: 20px;
}

input[type="date"i] {
   font-family: "Roboto", sans-serif;
   font-size: 18px;
   font-weight: 400;
   padding-inline-start: 24px;
}

.col--guests {
   width: 27%;
}

input:focus~.label--quests,
input:not(:focus):valid~.label--quests {
   top: -48px;
   left: 715px;
   color: #ffffff;
   opacity: 1;
}

.label--quests {
   position: absolute ;
   left: 715px;
   top: 20px;
}

button {
   background: #3077c6;
   border-radius: 8px;
   border: none;
   margin-block-start: -3px;
   margin-inline-end: -3px;
}

.col--button {
   width: 16.6%;
   height: 64px;
}

.button__text {
   font-weight: 500;
   font-size: 24px;
   line-height: 28px;
   text-align: center;
   color: #ffffff;
}


@media only screen and (max-width: 1232px) {

   .col-lg-6 {
      width: 50%;
   }

   .col-md-12 {
      width: 100%;
   }

   .container--form {
      height: 232px;
      background: #f5bd41;
      border: 0px;
      border-radius: 0px;
      margin-bottom: 60px;
      padding: 8px;
   }

   .row--form {
      display: block;
      margin-block-start: 0px;
   }

   input {
      height: 48px;
      border-radius: 4px;
      margin-bottom: 8px;
      font-size: 15px;
      font-weight: 500;
      line-height: 18px;
      padding-top: 24px;
      padding-left: 36px;
      color: #383838;
   }

   label {
      font-size: 12px;
   }

   .input--place--wrap {
      width: 100%;
   }

   .input--place--wrap::before {
      content: "";
      position: absolute;
      top: 15px;
      left: 8px;
      width: 16px;
      height: 16px;
      background: url("./img/search.png");
   }

   input:focus~.label--place,
   input:not(:focus):valid~.label--place {
      top: 6px;
      left: 36px;
      font-size: 12px;
      color: #383838;
      opacity: 1;
   }

   .label--place {
      left: 36px;
      top: 15px;
      font-size: 15px;
      font-weight: 500;
   }

   .input--date--wrap {
      width: 100%;
      display: flex;
      justify-content: space-between;
      border: none;
   }

   .label--date--wrap-first {
      width: 49%;
   }

   .label--date--wrap-second {
      width: 49%;
   }

   input[type="date"i] {
      align-items: center;
      display: inline-flex;
      font-family: "Roboto", sans-serif;
      font-size: 15px;
      font-weight: 500;
      padding-inline-start: 8px;
      border: 0px;
   }

   input:focus~.label--date--first,
   input:not(:focus):valid~.label--date--first {
      top: 6px;
      left: 36px;
      font-size: 12px;
      color: #383838;
      opacity: 1;
   }

   .label--date--first {
      left: 36px;
      top: 15px;
      font-size: 15px;
      font-weight: 500;
   }

   input:focus~.label--date--second,
   input:not(:focus):valid~.label--date--second {
      top: 6px;
      left: 36px;
      font-size: 12px;
      color: #383838;
      opacity: 1;
   }

   .label--date--second {
      left: 36px;
      top: 15px;
      font-size: 15px;
      font-weight: 500;
   }

   input:focus~.label--quests,
   input:not(:focus):valid~.label--quests {
      top: 115px;
      left: 36px;
      font-size: 12px;
      color: #383838;
      opacity: 1;
   }

   .label--quests {
      left: 36px;
      top: 124px;
      font-size: 15px;
      font-weight: 500;
   }

   button {
      border-radius: 4px;
      margin-block-start: 0px;
   }

   .col--button {
      height: 48px;
   }

   .button__text {
      font-size: 19px;
   }

   .col img {
      position: absolute;
      top: 48px;
      left: 12px;
   }

/* main */
   main {
      margin: 0px auto;
      justify-content: center;
      display: flex;
   }

   .content {
      margin: 0px auto;
      width: 360px;
      height: 641px;
   }

   .content .content__items {
      margin: 0 auto;
      display: block;
      align-items: center;
      text-align: center;
   }

   .content__item img {
      display: block;
      margin: 0px auto;
      margin-bottom: 50px;
      height: 80px;
      margin-top: 20px;
   }

   .content__item .support:nth-child(1):hover {
      width: 360px;
      height: 641px;
      background-image: url('./svg/support.svg');
   }

   .content__item p {
      font-size: 24px;
   }

   .content__item {
      margin-top: 100px;
      display: block;
   }
}


@media only screen and (max-width: 768px) {
   .col-md-1 {
      width: 8.33%;
   }

   .col-md-2 {
      width: 16.66%;
   }

   .col-md-3 {
      width: 25%;
   }

   .col-md-4 {
      width: 33.33%;
   }

   .col-md-5 {
      width: 41.66%;
   }

   .col-md-6 {
      width: 50%;
   }

   .col-md-7 {
      width: 58.33%;
   }

   .col-md-8 {
      width: 66.66%;
   }

   .col-md-9 {
      width: 75%;
   }

   .col-md-10 {
      width: 83.33%;
   }

   .col-md-11 {
      width: 91.66%;
   }

   .col-md-12 {
      width: 100%;
   }

   .col a {
      display: none;
   }

   .container--form {
      height: 232px;
      background: #f5bd41;
      border: 0px;
      border-radius: 0px;
      margin-bottom: 32px;
      padding: 8px;
   }

   .row--form {
      display: block;
      margin-block-start: 0px;
   }

   input {
      height: 48px;
      border-radius: 4px;
      margin-bottom: 8px;
      font-size: 15px;
      font-weight: 500;
      line-height: 18px;
      padding-top: 24px;
      padding-left: 36px;
      color: #383838;
   }

   label {
      font-size: 12px;
   }

   .input--place--wrap {
      width: 100%;
   }

   .input--place--wrap::before {
      content: "";
      position: absolute;
      top: 15px;
      left: 8px;
      width: 16px;
      height: 16px;
      background: url("./img/search.png");
   }

   input:focus~.label--place,
   input:not(:focus):valid~.label--place {
      top: 6px;
      left: 36px;
      font-size: 12px;
      color: #383838;
      opacity: 1;
   }

   .label--place {
      left: 36px;
      top: 15px;
      font-size: 15px;
      font-weight: 500;
   }

   .input--date--wrap {
      width: 100%;
      display: flex;
      justify-content: space-between;
      border: none;
   }

   .label--date--wrap-first {
      width: 49%;
   }

   .label--date--wrap-second {
      width: 49%;
   }

   input[type="date"i] {
      align-items: center;
      display: inline-flex;
      font-family: "Roboto", sans-serif;
      font-size: 15px;
      font-weight: 500;
      padding-inline-start: 8px;
      border: 0px;
   }

   input:focus~.label--date--first,
   input:not(:focus):valid~.label--date--first {
      top: 6px;
      left: 36px;
      font-size: 12px;
      color: #383838;
      opacity: 1;
   }

   .label--date--first {
      left: 36px;
      top: 15px;
      font-size: 15px;
      font-weight: 500;
   }

   input:focus~.label--date--second,
   input:not(:focus):valid~.label--date--second {
      top: 6px;
      left: 36px;
      font-size: 12px;
      color: #383838;
      opacity: 1;
   }

   .label--date--second {
      left: 36px;
      top: 15px;
      font-size: 15px;
      font-weight: 500;
   }

   input:focus~.label--quests,
   input:not(:focus):valid~.label--quests {
      top: 115px;
      left: 36px;
      font-size: 12px;
      color: #383838;
      opacity: 1;
   }

   .label--quests {
      left: 36px;
      top: 124px;
      font-size: 15px;
      font-weight: 500;
   }

   button {
      border-radius: 4px;
      margin-block-start: 0px;
   }

   .col--button {
      height: 48px;
   }

   .button__text {
      font-size: 19px;
   }

}

@media only screen and (max-width: 360px) {
   .col-1 {
      width: 8.33%;
   }

   .col-2 {
      width: 16.66%;
   }

   .col-3 {
      width: 25%;
   }

   .col-4 {
      width: 33.33%;
   }

   .col-5 {
      width: 41.66%;
   }

   .col-6 {
      width: 50%;
   }

   .col-7 {
      width: 58.33%;
   }

   .col-8 {
      width: 66.66%;
   }

   .col-9 {
      width: 75%;
   }

   .col-10 {
      width: 83.33%;
   }

   .col-11 {
      width: 91.66%;
   }

   .col-12 {
      width: 100%;
   }


   .container--form {
      height: 232px;
      background: #f5bd41;
      border: 0px;
      border-radius: 0px;
      margin-bottom: 32px;
      padding: 8px;
   }

   .row--form {
      display: block;
      margin-block-start: 3px;
   }

   input {
      height: 48px;
      border-radius: 4px;
      margin-bottom: 8px;
      font-size: 15px;
      font-weight: 500;
      line-height: 18px;
      padding-top: 24px;
      padding-left: 8px;
      color: #383838;
   }

   label {
      font-size: 12px;
   }

   .input--place--wrap {
      width: 100%;
   }

   .input--place--wrap::before {
      content: "";
      position: absolute;
      top: 15px;
      left: 8px;
      width: 16px;
      height: 16px;
      background: url("/img/search.png");
   }

   input:focus~.label--place,
   input:not(:focus):valid~.label--place {
      top: 6px;
      left: 36px;
      font-size: 12px;
      color: #383838;
      opacity: 1;
   }

   .label--place {
      left: 36px;
      top: 15px;
      font-size: 15px;
      font-weight: 500;
   }

   .input--date--wrap {
      width: 100%;
      display: flex;
      justify-content: space-between;
      border: none;
   }

   .label--date--wrap-first {
      width: 49%;
   }

   .label--date--wrap-second {
      width: 49%;
   }

   input[type="date"i] {
      align-items: center;
      display: inline-flex;
      font-family: "Roboto", sans-serif;
      font-size: 15px;
      font-weight: 500;
      padding-inline-start: 8px;
      border: 0px;
   }

   input:focus~.label--date--first,
   input:not(:focus):valid~.label--date--first {
      top: 6px;
      left: 8px;
      font-size: 12px;
      color: #383838;
      opacity: 1;
   }

   .label--date--first {
      left: 8px;
      top: 15px;
      font-size: 15px;
      font-weight: 500;
   }

   input:focus~.label--date--second,
   input:not(:focus):valid~.label--date--second {
      top: 6px;
      left: 8px;
      font-size: 12px;
      color: #383838;
      opacity: 1;
   }

   .label--date--second {
      left: 8px;
      top: 15px;
      font-size: 15px;
      font-weight: 500;
   }

   input:focus~.label--quests,
   input:not(:focus):valid~.label--quests {
      top: 115px;
      left: 36px;
      font-size: 12px;
      color: #383838;
      opacity: 1;
   }

   .label--quests {
      left: 36px;
      top: 124px;
      font-size: 15px;
      font-weight: 500;
   }

   button {
      border-radius: 4px;
      margin-block-start: 0px;
   }

   .col--button {
      height: 48px;
   }

   .button__text {
      font-size: 19px;
   }
}



/* content *//* content *//* content *//* content *//* content *//* content *//* content *//* content *//* content *//* content */
main {
   margin: 0px auto;
}

.content {
   margin: 0px auto;
   text-align: center;
   align-items: center;
}

.content .content__items {
   justify-content: space-around;
   align-items: center;
}

.content h2::after {
   content: '';
   display: block;
   width: 100px;
   height: 4px;
   margin: 0px auto;
   top: 20px;
   left: 0;
   right: 0;
   background: #f5bd41;
}

.content__item img {
   margin: 0px auto;
   margin-bottom: 50px;
   height: 75px;
   margin-top: 20px;
}

.content__item .support:nth-child(1):hover {
   background-image: url('./svg/support.svg');
}

.content__item p {
   font-size: 24px;
}

.content__item {
   margin-top: 100px;
}

.content__item {
   display: block;
}




/* Homes guests loves */
.container__homes {
   margin: 0 auto;
   background-color: hsl(216, 56%, 95%);
}

.wrapper__hostel {
   margin: 20px;
   margin: 0 auto;
   max-width: 1440px;
}

.hostel__all {
   display: flex;
   justify-content: center;
   margin: 12px;
}

.hostel__img {
   margin-bottom: 24px;
   margin-top: 105px;
   display: flex;
}
.hostel__img  img{
   width: 100%;
}
.hostel {
   margin-top: 16px;
   margin-left: 16px;
   color: #BFBFBF;
   padding-bottom: 120px; 
}
.hostel:last-child {
   margin-left: 0px;
}

.hostel p {
   margin-top: 24px;
}
.arrow__button a img{
   margin-top: 220px;
   margin-left: -15px;
   position: absolute;
}
@media (max-width: 800px) {
   .hostel a img {
      margin-top: 40px;
   }
   .hostel p {
      padding-bottom: 40px;
   }
   .hostel__img  {
      margin-top: 0px;
   }
}



/* country */
 /* навигация */
.container__country {
   margin: 0 auto;
   max-width: 1223px;
   width: 100%;
}
.country {
   max-width: 1440px;
}
.destinations {
   max-width: 1440px;
   margin-bottom: 104px;
   margin: 12px;
}

.btn-group_desktop {
   max-width: 622px;
   height: 65px;
}
.btn-group {
   background-color: #F3F3F4;
   border-radius: 8px;
   max-width: 622px;
   height: 64px;     
   margin: 0 auto;
   margin-top: 104px;
   display: flex;
}

.btn-choice:hover {
   background-color: #3077C6;
   border-radius: 8px;
   color: white;
}
.btn-choice {
   width: 192px;
   height: 64px;
   text-align: center;
   font-size: 24px;
}
.btn-choice p {
   margin-top: 17px;
}
.btn-choice:last-child {
   width: 238px;
   height: 64px;
}
@media (max-width: 800px) {
   .btn-choice span {
      display: none;
   }
   .btn-group {
      margin-top: 32px;
      /* align-items: center; */
   }
}

/* страны-изображения */
.regions {
   display: flex;
   justify-content: center;
   margin: 0 auto;
}
.regions img {
   margin-top: 65px;    
}
.region__name {
   margin-left: 16px;
   position: relative;
}
.button__hover {
   position: absolute;
   display: none;
}
.region__name img:hover {
   display: block;
}
.book_now {
color: white;
width: 85px;
height: 42px;
}
.region__name:first-child {
   margin-left: 0;
}
.region__name img {
   margin-top: 65px;
   width: 100%;
   height: auto; 
}
.img_region {
   position: absolute;
}

.regions p{
   margin-top: 25px;
   color: #3077C6;
   font-size: 24px;
}
.arrow-button__regions {
   display: flex;
   justify-content: center;
   margin-top: 50px;
   margin-bottom: 120px;
}

@media (max-width: 800px) {
   .region__name:nth-child(3),
   .region__name:nth-child(4) {
      display: none;
   }
   .regions__country {
      position: relative;
      display: flex;
   }
   .more__regions img{
      margin-top: 135px;
      position: absolute;
      margin-left: -67px;
   }
   .arrow-button__regions  img{
      transform: rotate(270deg); 
   }
   .region__name p {
      margin-bottom: 40px;
   }
}


/* sing-up */

.wrapper__guests_reviews {
   max-width: 1223px;
   margin: 0 auto;
}

.sing-up {
   height: 200px;
   background-color: #EAF0F9;
   margin: 12px;
}
.wrapper__sing-up {
   margin: 57px;
   align-items: center;
   justify-content: space-between;
   display: flex;
}
.registr-user {
   display: flex;
   align-items: center;
   /* position: relative; */
}
.user a img {
   margin-top: 57px;
}
.title__sing-up {
   margin-top: 51px;
   margin-left: 24px;
   font-weight: 500;
   font-size: 24px;
}
.btn__sing-up {
   background-color: #ffffff;
   width: 128px;
   height: 48px;
   margin-top: 21px;
}
.btn__sing-up p {
   font-size: 18px;
   font-weight: 400;
   color: #3077C6;
}
.close {
   margin-bottom: 90px;
}
.close a{
   position: absolute;
}

/* sing_up__mobile *//* sing_up__mobile *//* sing_up__mobile *//* sing_up__mobile */
.sing-up__mobile {
   display: none;
   margin: 0 auto;
   background-color: #FFFFFF;
   margin: 20px;
}
.wrapper__sing-up_mobile {
   align-items: center;
   justify-content: space-between;
   display: flex;
}
.wrapper__sing-up_mobile a {
   margin-right: 16px;
}
@media (max-width: 800px) {
   .sing-up__mobile {
      display: block;
   }
   .sing-up {
      display: none;
   }
}


/* guests_reviews */
.guests-reviews {
   margin: 0 auto;
   max-width: 1223px;
}

.guests {
   display: flex;
   justify-content: center;
   margin: 12px;
}
.guest__title {
   margin-bottom: 104px;
}
.guest {
   width: 100%;
   background-color: #EAF0F9;
   margin-right: 16px;
}
.guest:last-child {
   margin-right: 0;
}
.image__guest {
   position: relative;
}
.image__guest img {
   width: 100%;
}
.image__guest p {
   position: absolute;
   margin-top: -38px;
   background-color: #383838;
   opacity: .7;
   width: 100%;
}
.price__guest p {
   max-width: 400px;
   height: 35px;
   color: white;
   width: 100%;
   align-items: center;
   padding-left: 24px;
   padding-top: 9px;
}
.description {
   margin: 24px;
}
.score {
   display: flex;
   justify-content: space-between;
}
.score a {
   font-weight: 500;
}
.score img {
   align-items: flex-end;
}
.review__country {
   display: flex;
   justify-content: space-between;
}
.review__country a {
   margin-right: 53px;
}
.review__country p {
   color: #BFBFBF;
   font-size: 14px;
}
.review {
   display: flex;
   margin-top: 30px;
}
.review img {
   margin-right: 21px;
   height: 53px;
   width: 53px;
   align-items: center;
}
.review__country p {
   margin-top: 8px;
}
.country p span{
   color: #BFBFBF;
}
.text__review p {
   margin-top: 20px;
}


@media (max-width: 800px) {
   .guest:nth-child(2),
   .guest:nth-child(3) {
      display: none;
   }
   .guest:nth-child(1) {
      margin-right: 0;
   }
   .image__guest {
      margin: 16px;
   }
   .image__guest p {
      display: none;
   }
   .guests-reviews {
      background-color: #EAF0F9;
      width: 100%;
      margin: 0;
   }
   .guest__title h2 span{
      display: none;
   }
   
   .guest__title {
      margin-bottom: 32px;
   }
   .guest__title h2::first-letter {
      text-transform: capitalize;
   }
}


/* footer */
footer {
   margin: 0 auto;
   background: #10367C; 
}

.footer__top {
   max-width: 1223px; 
   display: flex;
   font-size: 20px;
   justify-content: space-around;
   margin: 0 auto;
}

.links {
   color: white;
   margin-top: 120px;
}

.footer_nav li {
   margin-bottom: 24px;
   /* margin-left: 104px; */
   list-style-type: none;
}

.footer__nav li:first-child {
   font-weight: 500;
}

.footer_nav li img:last-child {
   margin-top: 163px;
}

.footer_nav a {
   color: white;
   text-decoration: none;
}

/* mobile */
@media (max-width: 800px) {
   .footer__top {
      display: none;
   }

   .footer_mobile {
      display: block;
   }
}

@media (min-width: 801px) {
   .footer__top {
      display: flex;
   }

   .footer_mobile {
      display: none;
   }
}

.footer_mobile {
   text-align: center;
}

.footer_logo img {
   margin-top: 40px;
}

.footer_mobile li {
   display: inline-flex;
   align-items: center;
}

.footer_menu a {
   justify-content: center;
   color: white;
   margin-top: 40px;
   margin-bottom: 32px;
   font-size: 15px;
   font-weight: 500;
}

.date {
   margin-bottom: 40px;
}